---
import i18next, { t, changeLanguage } from "i18next";
import { LanguageSelector } from "astro-i18next/components";
import { localizePath } from "astro-i18next";

changeLanguage("es");
---

<!DOCTYPE html>
<html lang={i18next.language} >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="404 Error">
    <meta name="keywords" content="404, error, page not found">
    <meta name="author" content="Mdtech">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
</head>
<body class="p-5 flex justify-center items-center h-screen w-full">
    <div class="  gap-5 flex flex-col h-full items-center justify-center w-full bg-slate-800  text-center rounded-lg border border-dashed">
    <h1 class="text-6xl uppercase antialiased tracking-wider text-white">404 Error</h1>
    <p class="text-3xl text-gray-600 uppercase">{t("404.title")}</p>
    <a href={localizePath("/")} class="link link-primary">{t("404.text")}</a>
</div>

</body>
</html>