---
import Layout from "../layouts/Layout.astro";
import BotonMagico from "../components/BotonMagico/BotonMagico.astro";
import Herocarrousel from "../components/Herocarrousel/Herocarrousel.astro";
import Card from "../components/Card.astro";
import FormularioContacto from "../components/FormularioContacto.astro";
---

<Layout title="MDTech">
  <main class="flex   flex-col gap-10 textured" ;>
    <section id="Inicio" class="relative w-full h-screen">
      <Herocarrousel />
    </section>

    <section class=""  id="QuienesSomos">
      <div
        class="w-full h-screen mt-20 md:mt-0 flex flex-col md:flex-row md:p-10 p-4 items-center justify-center"
      >
        <div
          class="md:w-1/2 flex-1 md:p-10 flex flex-col gap-4 justify-center items-center text-justify"
        >
          <p
            class="md:text-6xl text-3xl md:self-start font-bold tracking-wider uppercase antialiased text-yellow-500"
          >
            Quienes somos
          </p>
          <p class="text-lg text-accent">
            Somos un equipo apasionado de profesionales creativos que amamos las
            redes sociales. Nuestra misión es planificar, crear y comunicar de
            manera efectiva a través de estos nuevos canales digitales.
          </p>
          <div
            class="my-5 flex items-center justify-center md:self-start md:justify-start"
          >
            <BotonMagico Texto="Ver más" link="Servicios" />
          </div>
        </div>
        <div class="md:w-1/2 flex-1 md:p-10 flex justify-center items-center">
          <iframe
            class="w-full h-96 md:h-96 rounded-2xl hover:ring hover:cursor-pointer transition-all"
            src="https://www.youtube-nocookie.com/embed/h3X0YrThvmw?si=MHDyDkn7hW6tVAcT"
            title="Welcome to MDTech"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <section
      id="NuestrosProyectos"
      class="text-primary body-font p-7 text-center"
    >
      <div class="container px-5 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            class="sm:text-3xl text-5xl uppercase antialiased text-center tracking-wide font-bold title-font mb-4 text-primary"
          >
            Nuestros servicios
          </h1>
          <p
            class="lg:w-2/3 md:w-2/5 text-lg md:text-center text-justify mx-auto leading-relaxed text-accent"
          >
            En nuestra agencia, no creemos en soluciones genéricas. Trabajamos
            mano a mano con cada cliente para diseñar una estrategia de
            marketing única y personalizada.
          </p>
        </div>
        <div class="flex flex-wrap -m-4">
          <div
            class="lg:w-1/2 sm:w-1/2 flex justify-center p-4 items-center rounded-lg"
          >
            <a
              href="https://figmalandprop.netlify.app"
              target="_blank"
              class="w-full"
            >
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="/Pagina1.svg"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 transition-all duration-300"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    THE SUBTITLE
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Shooting Stars
                  </h1>
                  <p class="leading-relaxed">
                    Photo booth fam kinfolk cold-pressed sriracha leggings
                    jianbing microdosing tousled waistcoat.
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="lg:w-1/2 sm:w-1/2 p-4">
            <a
              href="https://iridescent-panda-1aea8c.netlify.app"
              target="_blank"
              class="w-full"
            >
              <div class="flex relative">
                <img
                  alt="gallery"
                  class="absolute inset-0 w-full h-full object-cover object-center"
                  src="/Pagina2.svg"
                />
                <div
                  class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100 transition-all duration-300"
                >
                  <h2
                    class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1"
                  >
                    THE SUBTITLE
                  </h2>
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Shooting Stars
                  </h1>
                  <p class="leading-relaxed">
                    Photo booth fam kinfolk cold-pressed sriracha leggings
                    jianbing microdosing tousled waistcoat.
                  </p>
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </section>

    <section id="Servicios" class="text-primary body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
          <h1
            class="sm:text-3xl text-5xl font-bold antialiased tracking-wide uppercase text-center title-font text-primary mb-4"
          >
            trabaja con nosotros
          </h1>

          <p
            class="text-accent text-lg leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto"
          >
            Nuestro compromiso es brindar servicios de alta calidad y obtener
            resultados extraordinarios
          </p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="p-2 sm:w-1/2 w-full">
            <div
              class="bg-base border border-primary rounded flex p-4 h-full items-center hover:ring hover:bg-gray-700 transition-all duration-200 cursor-pointer"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                class="text-primary w-6 h-6 flex-shrink-0 mr-4"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium"
                >1. Experiencia y certificación en marketing digital</span
              >
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div
              class="bg-base border border-primary rounded flex p-4 h-full items-center hover:ring hover:bg-gray-700 transition-all duration-200 cursor-pointer"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                class="text-primary w-6 h-6 flex-shrink-0 mr-4"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium"
                >4. Creatividad a otro nivel</span
              >
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div
              class="bg-base border border-primary rounded flex p-4 h-full items-center hover:ring hover:bg-gray-700 transition-all duration-200 cursor-pointer"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                class="text-primary w-6 h-6 flex-shrink-0 mr-4"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">2. Personalización</span>
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div
              class="bg-base border border-primary rounded flex p-4 h-full items-center hover:ring hover:bg-gray-700 transition-all duration-200 cursor-pointer"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                class="text-primary w-6 h-6 flex-shrink-0 mr-4"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">
                5. Enfoque en resultados</span
              >
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div
              class="bg-base border border-primary rounded flex p-4 h-full items-center hover:ring hover:bg-gray-700 transition-all duration-200 cursor-pointer"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                class="text-primary w-6 h-6 flex-shrink-0 mr-4"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">3. Innovación</span>
            </div>
          </div>
          <div class="p-2 sm:w-1/2 w-full">
            <div
              class="bg-base border border-primary rounded flex p-4 h-full items-center hover:ring hover:bg-gray-700 transition-all duration-200 cursor-pointer"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                class="text-primary w-6 h-6 flex-shrink-0 mr-4"
                viewBox="0 0 24 24"
              >
                <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
                <path d="M22 4L12 14.01l-3-3"></path>
              </svg>
              <span class="title-font font-medium">
                6. Excelente servicio al cliente</span
              >
            </div>
          </div>
        </div>
        <div class="mt-10">
          <BotonMagico Texto="contáctanos" link="Contacto" />
        </div>
      </div>
    </section>

    <section id="Testimonios">
      <p
        class="uppercase text-primary font-bold tracking-wide text-5xl text-center"
      >
        TESTIMONIOS
      </p>
      <div class="divider divider-primary w-1/5 mx-auto"></div>
      <div
        class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-8 p-8"
      >
        <!-- Testimonio -->
        <div
          class="flex flex-col gap-6 bg-base border border-primary p-8 rounded-xl text-center drop-shadow-xl"
        >
          <p class="text-accent mt-2">
            "Excelente calidad de servicio y producto! 100% recomendado"
          </p>
          <div class="flex items-center gap-4">
            <div class="mx-auto">
              <h3 class="text-accent font-bold">Julene Torres</h3>
              <p class="text-primary font-medium">Cliente natural</p>
            </div>
          </div>
        </div>
        <!-- Testimonio -->
        <div
          class="flex flex-col gap-6 bg-base border text-center border-primary p-8 md:-translate-y-2 rounded-xl drop-shadow-xl"
        >
          <p class="text-accent">
            "magnífico trato y dedicación muy agradecido con ellos por ayudarme
            a construir mis sueños "
          </p>
          <div class="flex items-center gap-4">
            <div class="self-center mx-auto">
              <h3 class="text-accent font-bold">Juan José Atencio</h3>
              <p class="text-primary font-medium">Cliente natural</p>
            </div>
          </div>
        </div>
        <!-- Testimonio -->
        <div
          class="flex flex-col gap-6 text-center  bg-base border border-primary p-8 rounded-xl drop-shadow-xl"
        >
          <p class="text-accent mt-2">"Recomendado 10/10"</p>
          <div class="flex items-center gap-4">
            <di class="mx-auto">
              <h3 class="text-accent font-bold">Lina marcela vega</h3>
              <p class="text-primary font-medium">Cliente natural</p>
            </di>
          </div>
        </div>
      </div>
    </section>

    <section id="Contacto">
      <div class="w-full p-10 flex flex-col justify-center items-center">
        <p
          class="uppercase antialiased text-5xl text-center tracking-wide font-bold text-primary"
        >
          Contacto
        </p>
        <p class="text-accent text-lg mt-4 text-center">
          ¿Listo para llevar tu presencia en línea al siguiente nivel?<br />
          <span class="text-primary">¡Contáctanos hoy mismo!</span>
        </p>
        <div class="divider divider-primary w-1/5 self-center"></div>
        <div class="flex w-full justify-center items-center gap-10">
          <FormularioContacto />
        </div>
      </div>
    </section>
  </main>
</Layout>
