---
import Layout from '../layouts/Layout.astro';
import BotonMagico from "../components/BotonMagico/BotonMagico.astro";
import Herocarrousel from "../components/Herocarrousel/Herocarrousel.astro";
---

<Layout title="Mdtech">
	<main>
		<section class=" relative w-full h-screen">
			<Herocarrousel />
		</section>

		<section>
			<div class="hero min-h-screen bg-base-200">
				<div class="hero-content text-center">
				  <div class="max-w-md">
					<h1 class="text-5xl font-bold">Hello there</h1>
					<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<button class="btn btn-primary">Get Started</button>
				  </div>
				</div>
			  </div>
		</section>
	</main>
</Layout>

