---
import Layout from '../layouts/Layout.astro';
import BotonMagico from "../components/BotonMagico/BotonMagico.astro";
import Herocarrousel from "../components/Herocarrousel/Herocarrousel.astro";
---

<Layout title="Mdtech">
	<main>
		<section class=" relative w-full h-screen">
			<Herocarrousel />
		</section>

		<section>
			<div class="w-full h-screen flex p-10 items-center justify-center">
				<div class="w-1/2 md:p-10 flex flex-col gap-4 justify-center  items-center text-justify">
					<p class="md:text-4xl font-bold tracking-wider uppercase antialiased text-yellow-600">
						texto Gancho
					</p>
					<p class="text-sm text-gray-300">
					Descripcion	
					</p>
				</div>
				<div class="w-1/2">
				</div>			
			</div>
		</section>
	</main>
</Layout>

