---
interface Props {
  Titulo: string;
  Descripcion: string;
  Imagen: string;
}

const { Titulo, Descripcion, Imagen } = Astro.props;
---

<div class="cardH">
  <img
    src={Imagen}
    class="text-center self-center object-fill"
    alt="Imagen de la tarjeta"
  />
  <div class="cardH__content text-center">
    <p class="cardH__title uppercase">{Titulo}</p>
    <p class="cardH__description break-words">{Descripcion}</p>
  </div>
</div>

<style>
  .cardH {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media screen and (max-width: 768px) {
    .cardH {
      width: 180px;
      height: 100px;
    }
  }

  .cardH img {
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .cardH:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }

  .cardH__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .cardH:hover .cardH__content {
    transform: rotateX(0deg);
  }

  .cardH__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }

  .cardH:hover img {
    scale: 0;
  }

  .cardH__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
</style>
