---
import i18next, { t } from "i18next";
import { localizePath } from "astro-i18next";
import { LanguageSelector } from "astro-i18next/components";
---
<html lang={i18next.language}>
<nav class="navbar absolute z-10 px-10 rounded-full  text-white">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
      <li class="hover:text-primary"><a href=""  data-section="QuienesSomos">{t("navbar.aboutus")}</a></li>

        <li class="hover:text-primary">
          <a href="" data-section="Servicios">{t("navbar.services")}</a>
          <ul class="p-2">
            <li><a href="" data-section="Servicios">{t("navbar.ourservices")}</a></li>
            <li><a href="" data-section="NuestrosProyectos">{t("navbar.work")}</a></li>
            <li><a href="" data-section="Testimonios">{t("navbar.testimonials")}</a></li>
          </ul>
        </li>
        <li class="hover:text-primary"><a href="" data-section="Contacto">{t("navbar.contact")}</a></li>
        <li><LanguageSelector showFlag={true} class="btn btn-ghost text-primary "/></li>

      </ul>
    </div>
    <a href={localizePath("/")} class="text-xl btn btn-ghost md:p-4 w-60 h-20"> <img src="/Logo.svg" alt="MdtechLogo" class="w-60" /> </a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1 z-40">
      <li class="hover:text-primary"><a href=""  data-section="QuienesSomos">{t("navbar.aboutus")}</a></li>
      <li class="hover:text-primary">
        <a href="" data-section="Servicios">{t("navbar.services")}</a>
      </li>
      <li class="hover:text-primary"><a href="" data-section="Contacto">{t("navbar.contact")}</a></li>
      
    </ul>
  </div>
  <LanguageSelector showFlag={true} class="btn btn-ghost text-primary md:block hidden" />
</nav>
</html>

