---
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import { LanguageSelector } from "astro-i18next/components";

interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";

---

<html lang={i18next.language} data-theme="Mdtech">
  <head>
    <HeadHrefLangs />
    <SEO
      title={t("dataseo.title")}
      description={t("dataseo.description")}
      openGraph={{
        basic: {
          title:`${t("dataseo.title")}` ,
          type: "website",
          image: "/Logo.svg",
        }
      }}
      twitter={{
        creator: "@mdtech",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/IconR" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/Logo.svg",
          },
          { name: "twitter:title", content: `${t("dataseo.title")}` },
          { name: "twitter:description", content: `${t("dataseo.description")}` },
        ],
      }}
    />
    <meta
      name="google-site-verification"
      content="S8niK52G-9qTd-61TI-7GM2N8_hdxIJIqqL-Kb9Cxw8"
    />
    <meta
      name={t("dataseo.title")}
      content={t("dataseo.description")}
    />
    <meta
      name="keywords"
      content={t("dataseo.keywords")}
    />
    <meta name="author" content="MDTECH" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon"  href="/IconR.svg" />
    <link rel="sitemap"  href="/sitemap.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative">
    <Sidebar />
    <slot />
    <Footer />
    <style is:global>
      body::-webkit-scrollbar {
        width: 7px;
      }

      body::-webkit-scrollbar-thumb {
        background: #414141;
      }
      .textured{
        position: relative;
      }
      .textured::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        background-image: url("/B.png");
        background-size:50%;
        background-position: 80%  ;
        background-repeat:repeat;
        mix-blend-mode:normal;
        z-index: -1;
      }
    </style>
    <script is:raw>
      document.querySelectorAll("a[data-section]").forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();

          const sectionId = this.getAttribute("data-section");
          const section = document.getElementById(sectionId);

          if (section) {
            section.scrollIntoView({
              behavior: "smooth",
            });
          }
        });
      });
    </script>
  </body>
</html>
