---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="relative">
    <Sidebar />
    <slot />
    <Footer />
  </body>
  <style is:global>
    body::-webkit-scrollbar {
      width: 7px;
    }

    body::-webkit-scrollbar-thumb {
      background: #414141;
    }
  </style>
</html>
